/* Default mobile styles */
.body {
    font-family: Helvetica, Arial, sans-serif;
}

/* .container-fluid {
    width: 95%;
} */

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.collapse:not(.show) {
    display: none;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-size: 2em;
  }

.task {
    background-color: lightblue;
}

.task-container {
    padding-right: 0;
    padding-left: 0;
    margin: 0.5em;
}

.intro {
    background-color: lightyellow;
    padding: 5px;
}

.info-panel {
    background-color: lightgreen;
    padding: 5px;
}

.add-task, .complete, .delete {
    height: 1em;
    width: 1em;
}

.completed {
    background-color: lightgray;
}

.card {
    width: 90%;
}

/* Media queries */