/* Default mobile styles */
.body {
    font-family: Helvetica, Arial, sans-serif;
}

.container.fluid {
    width: 95%;
}

.navbar {
    height: 60px;
}

.task {
    height: 100px;
    background-color: lightblue;
    padding: 5px;
}

.intro {
    height: 80px;
    background-color: lightyellow;
    padding: 5px;
}

.info-panel {
    background-color: lightgreen;
    padding: 5px;
}

.add-task, .complete, .delete {
    height: 1em;
    width: 1em;
}

/* Media queries */